<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price: $</strong>
  <%=@item.Price %>
</p>
<p>
  <strong>User:</strong>
  <%= @item.user.email %>
</p>

<br>
<br>
<table>
  <thead>
  <tr>
    <th>Author</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @item.comments.each do |comment| %>
      <tr>
        <td><%= comment.user.email %></td>
        <td><%= comment.content %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%if can? :read, @item%>
    <%= link_to 'Comment', new_comment_path %>
<%end%>
<%if can? :update, @item%>
    <%= link_to 'Edit', edit_item_path(@item) %>
<%end%>
<% if can? :destroy, @item %>
    <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>
<%= link_to 'Back', items_path %>


